@import "tailwindcss";
/* @font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/SegoeUI.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: "Inter", sans-serif;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
